:root{
    --dark-gray: #d8d8d8;
    --light-gray: #e6e6e6;
    --orange: #ffa200;
    --text-light: #fff;
    --text-dark: #000;
}
/*header*/
header{
    background-color: var(--dark-gray); 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    width: 100vw; 
    margin: auto; 
    position: fixed; 
    top: 0; 
    z-index: 1; 
    box-shadow: 0 2px 6px 0 var(--light-gray); 
}

/*logo*/
.logo{
    margin: auto 0 auto 1em
}

/*horní navigace*/
.topnav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.topnav ul{
    padding: 0;
    margin: 0 1em 0 0;
}

.topnav ul li{
    display: inline-block;
    text-align: center;
}

.topnav ul li a{
    display: block;
    padding: 1em;
}
.topnav ul li a:hover{
    background-color: var(--light-gray);
}

/* hide/show hamburger */
.hidden {
    display: none;
}

/**/
.text{
    margin: 1em;
}

.wrap{
    margin: 0 auto;
    padding: 1em;
    max-width: 1360px;
    background-color: inherit;
}

.picture{
    max-width: 660px;

}

.picture img{
    width: 100%;
    height: auto;
}

/*O nás*/
.about_us{
    background-color: var(--orange);
    margin-top: 50.4px;
}

.about_us-picture{
    margin: 10px auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--light-gray);
}

.about_us-picture img{
    height: auto;
    width: 100%;
}
/*O produktu*/
.about_product{
    background-color: var(--light-gray);
}

/*Výroba*/
.manufacturing{
    background-color: var(--text-dark);
    color: var(--text-light);
}

/*galerie*/
.gallery{
    background-color: var(--light-gray);
}

.gallery_block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery_item{
    max-width: 360px;
    height: 100%;
    margin: 1em;
}

.gallery_item img{
    width: 100%;
    height: auto;
}
/*footer*/

footer{
    background-color: var(--dark-gray);
    padding-top: 1em;
}

.footer_wrap{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1280px;
    padding-bottom: 0.5em;
    margin: 0 auto;
}
/**/
.footer_top h3{
    margin: 0;
    padding: 1em;
    text-align: center;
}

.footer_top a{
    display: block;
}

.footer_top ul{
    padding: 0 3em;
    margin: 0;
    text-align: center;
}

.footer_top ul li{
    padding: 0;
}

.footer_top ul li a{
    padding: 0.2em 0;
}

.footer_top ul li a:hover{
    color: var(--text-light);
}

.footer_top address{
    padding: 0 3em;
    margin: 0;
    text-align: center;
}

.footer_top address p{
    margin: 0;
    padding: 0.2em 0;
}

.footer_top address p a:hover{
    color: var(--text-light);
    text-decoration: none;
}
/**/
.footer_soc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    margin-top: .5em;
}

.footer_soc h3{
    margin: 0;
    padding: 1em;
    text-align: right;
    display: none;
}
/*footer ikony*/
.fb{
    padding: 1em;
    text-align: right;
}

.fb a{
    display: flex;
    align-items: flex-end;
    place-content: flex-end;
    color: var(--text-dark);
}

/**/
.ig{
    padding: 1em;
    text-align: right;
}

.ig a{
    display: flex;
    align-items: flex-end;
    place-content: flex-end;
    color: var(--text-dark);
}


/*layout*/

@media only screen and (min-width: 761px) {
    .hidden {
        display: flex;
    }
    .hamburger {
        display: none;
    }
}

@media only screen and (max-width: 760px){
    .topnav{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .topnav ul{
        margin: 0 auto;
        width: 100vw;
    }

    .topnav ul li{
        display: block;
    }
    header{
        display: grid;
        grid-template-columns: auto auto;
    }
    .hamburger{
        margin-left: auto;
    }
    .hamburger a{
        display: block;
        height: 18px;
        padding: 25.5px 1em;
        text-align: center;
    }

    .about_us{
        margin-top: 69px;
    }
    .about_us-picture{
        margin-top: 1em;
    }
}

@media only screen and (min-width: 600px) {
    .footer_wrap{
        flex-direction: row;
        justify-content: space-between;
    }
    .footer_soc{
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
        margin: 0;
    }
    .footer_soc h2, .footer_soc h3{
        display: block;
    }

    .footer_top h2, .footer_top h3{
        display: block;
        text-align: left;
    }
    .footer_top address, .footer_top ul{
        text-align: left;
    }
    .footer_top a{
        margin: 0;
    }

    .footer_top ul, .footer_top address{
        padding: 0 1em;
    }
}

@media only screen and (min-width: 960px){
    .wrap{
        display: grid; 
  grid-template-columns: 1fr 2fr; 
  grid-template-rows: 1fr; 
  gap: 1em 1em; 
  grid-template-areas: 
    ". ."; 
    align-items: center; 
    }
}