@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

h1, h2{
    font-weight: 700;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 16px
}

footer{
    font-size: 14px;
}

a{
    color: var(--text-dark);
    text-decoration: none;
    display: block;
}

ul{
    list-style-type: none;
}